.regular{
    margin-right: 8%;
    background-color: #db3545;
    color: white;
    border: solid;
    border-radius: 7px;
    font-weight: 600;
    letter-spacing: 1px;
   padding: 9px 15px;
    
}
.prefer{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 50%;margin-left: 25%;
}
img{
    height: 200px;
    width: 200px;
    margin-left: 42%;
    margin-top: 1%;
    border-radius: 50px;

}

table, td{
    border: 1px solid #dfe3e7;
    margin-left: 39%;
    width: 20%;
    border-collapse: collapse;
    
   
}
.button2{
    border-radius: 10px;
    padding: 3px 20px;
    color:#db3545;
    border: 1px solid ;
    border-color: #db3545;
    background-color: transparent;
    margin-right: 39%;
    letter-spacing: 1px;
   
    
    
    
}
.button1{
    background-color: #db3545;
    border: solid;
    color: white;
    padding: 9px 40px;
    border-radius: 10px;
    margin-left: 36%;

   

}
.button{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}